<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gwabs.myproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.gwabs.myproject.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rnsit"
        android:label="Smart Attendance"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyProject"
        tools:replace="android:label">
        <activity android:name="com.gwabs.myproject.Splash"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gwabs.myproject.ClockAttendance" />
        <activity android:name="com.gwabs.myproject.StudentLogin" />
        <activity android:name="com.gwabs.myproject.RegistrationStudent" />
        <activity android:name="com.gwabs.myproject.RegistrationActivity" />
        <activity android:name="com.gwabs.myproject.RegistrationadminActivity" />
        <activity android:name="com.gwabs.myproject.ViewFile" />
        <activity android:name="com.gwabs.myproject.SecondActivity" android:theme="@style/Theme.MyProject" />
        <activity android:name="com.gwabs.myproject.MainActivity"/>
    </application>

</manifest>